<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="../../public/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This application was developed by {{name}}</p>
      <img class="portrait" src="./img/me.jpg">      
    </div>
    {{>footer}}
  </body>
</html>